ul {
    list-style-type: none;
    margin-bottom: 4px;
    padding: 4px;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
    margin:16px;
    
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: yellow;
}


div{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

img {
    width: 50%;
}

hr {
    border-top: 5px dotted blue;
}